body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCE9F5;
    color: #333;
    text-align: center;
}

header {
    background-color: #6050CE;
    color: white;
    padding: 15px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
     margin-bottom: 60px; /* Ajusta según la altura del footer */
}

p, ol, ul {
    font-size: 1.2em; /* Incrementa el tamaño de la letra */
    font-weight: 100; /* Hace que el texto sea más grueso */
    line-height: 1.4; /* Espaciado entre líneas más cómodo */
    color: #333; /* Color del texto (mantener o cambiar si es necesario) */
}

ul, li {
    margin-bottom: 15px;
}

button {
    font-size: 36px; /* Tamaño de fuente grande */
    padding: 40px 60px; /* Aumento del tamaño del botón */
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 15px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Efecto suave al pasar el mouse */
}

button:hover {
    background-color: #45a049; /* Cambia el color de fondo cuando el mouse pasa sobre el botón */
}

img {
    display: block; /* La imagen se trata como un bloque */
    margin: 50px auto; /* Margen automático para centrarla horizontalmente */
    max-width: 60%; /* Asegura que no ocupe más del 60% del ancho de la pantalla */
    height: auto; /* Mantiene la proporción de la imagen */
}

#additionalText {
    margin-top: 15px; /* Espacio con respecto a la imagen */
    text-align: left; /* Alineación del texto (puedes cambiar a "center" si lo prefieres) */
    padding: 10px; /* Espaciado interno */
    font-size: 1.0em; /* Tamaño del texto */
    line-height: 1.4; /* Espaciado entre líneas */
}

#additionalText h2 {
    font-size: 1.4em; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior del título */
    color: #333; /* Color del título */
}

#additionalText h3 {
    font-size: 1.4em; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior del título */
    color: #333; /* Color del título */
}

footer {
    background-color: #47405f;
    color: #FFFFFF;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em; /* Tamaño más pequeño */
}
